splash {


 .splash-content {
    align-items: center;
    background: linear-gradient(216deg, #ff8a40, #fd5068, #dc4588);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;
    padding: 55px 5% 5% 5%;
    position: absolute;
    width: 100%;

    div {
      margin-top: 70px;
      text-align: center;

      h3 {
        color: #ffda44;
        position: absolute;
        top: 230px;
      }
    }
    h3 {
        color: #ffda44;
        position: absolute;
        top: 230px;
      }
    img {
        width: 150px;
        position: absolute;
        top: 30px;
      }
  }

  #custom-overlay {
    z-index: 100000;
  }

  .flb {
    background-color: #3ebffb;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
  }


  @keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
}
