page-my-strikes {
  .bar-buttons-md{
    position:absolute;
    z-index: 1000;
    right: 10px;
  }


  .label-ios {
    margin: 19px 8px 19px 0;
}

  p {
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #dbdbe0 !important;}
.item-block {
    border-bottom: 0 1px 1px rgba(0, 0, 0, 0.3) !important; 
}


.scroll-bar-indicator
{
	display: none;
}
.card-ios {
    
     -webkit-box-shadow: none !important;
     
  }

}
.platform-ios .segment-ios .segment-button.segment-activated {
    color: #e91e63;
    background-color: #fff;
    
}

.segment-ios .segment-button {
  border-color: #fff;}
.segment-ios .segment-button {
   
     border-style: solid; 
   border-color: #fff;}

.russ-img{

width: 70px;
height: 115px;
margin-right: 13px;
border-radius: 25px;  display: inline;


}


.russ-icon {
    

      width: 36px !important; 
   height: 36px !important; 
    border-radius: 0;
    overflow: hidden;
    margin-right: 20px;}