page-swipe-strikes {


  #card-stack {
    height:100%;
     position: relative;
   }

   #card-stack ion-card {
     border-radius: 5px;
     position: absolute;
     text-align: center;
     height: 100%;
   }
   .card-title-md {
    display: block;
    font-size: 1.6rem;}
    .card-md p {
    margin: 0 0 2px;
    font-size: 1.3rem;}




.card-title-md {
    display: block;
    font-size: 2.0rem;
    line-height: 1.2;
    
    margin: 2px 0;
    padding: 8px 0;
    

  
}

page-swipe-strikes #card-stack {
    height: 100%;}




page-swipe-strikes .card-md p {
    margin: 0 0 2px;
    font-size: 1.2rem;
}


   img{

     user-select: none;
     -moz-user-select: none;
     -webkit-user-drag: none;
     -webkit-user-select: none;
     -ms-user-select: none;
 }
}


page-swipe-strikes .card-md p {
    margin: 0 0 2px;
    font-size: 1.25rem;
}


.card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
    text-align: left;
  
}

.card-title-md{
   
    color: #222;
    text-align: left;
  
}